.container-fluid {
  margin: 20px;
}

.col-md-1, .col-md-2, .col-md-3 {
  padding: 0 5px;
}

.header.text-info {
  font-weight: bold;
}

.header {
  border-bottom: 1px solid #000;
  text-align: center;
}

.row {
  margin: 20px 0;
}

.row:first-child {
  margin: 5px 0;
}

.cell {
  margin: 0 4px;
}

.cell:first-child {
  margin-left: 0;
}

.cell:last-child {
  margin-right: 0;
}

.grade {
  width: 75px;
  text-align: center;
}

.day {
  border: 1px solid #ccc;
  border-radius: 10px;
}

ul {
  margin: 0 0 0 15px;
  padding: 10px;
}

.items_form {
  display: none;
  margin: 10px;
}

textarea {
  width: 90%;
  margin-bottom: 10px;
}
