.container-fluid {
  margin: 20px;
}

.header {
  border-bottom: 1px solid #000;
  text-align: center;
}

.cell {
  margin: 0px 5px;
}

.cell:first-child {
  margin-left: 0px;
}

.cell:last-child { 
  margin-right: 0px; 
}

.grade {
  width: 75px;
  text-align: center;
}

ul {
  margin: 0 10px;
  padding: 10px;
}

form {
  display: none;
  margin: 10px;
}

textarea {
  width: 90%;
  margin-bottom: 10px;
}
