.container-fluid {
  margin: 20px;
}

.header {
  border-bottom: 1px solid #000;
  text-align: center;
}

.row {
  margin: 5px 0;
}

.cell {
  margin: 0 5px;
}

.cell:first-child {
  margin-left: 0;
}

.cell:last-child { 
  margin-right: 0; 
}

.grade {
  width: 75px;
  text-align: center;
}

.day {
  border: 1px solid #ccc;
  border-radius: 10px;
}

ul {
  margin: 0;
  padding: 10px;
}

form {
  display: none;
  margin: 10px;
}

textarea {
  width: 90%;
  margin-bottom: 10px;
}
